# ERPNext Docker Environment Configuration Template
ERPNEXT_VERSION=v16.34.2
HTTP_PORT=8085
SITE_NAME=erp.nirog.me
ADMIN_PASSWORD=admin

# External MySQL / MariaDB (e.g. Aiven, AWS RDS, Cloud SQL)
DB_HOST=erpnext-dvwa.k.aivencloud.com
DB_PORT=11240
DB_USER=avnadmin
DB_PASSWORD=your_db_password
DB_NAME=defaultdb
