# ERPNext Docker Environment Configuration Template

# Image version tag for frappe/erpnext
# Examples: v16.34.2, version-15, develop, latest
ERPNEXT_VERSION=v16.34.2

# Port exposed on the host machine to access the ERPNext web interface
HTTP_PORT=8080

# Frappe site name
SITE_NAME=frontend

# ERPNext web Administrator user password (for login at http://localhost:8080)
ADMIN_PASSWORD=admin

# MariaDB root database password
DB_PASSWORD=admin
